spring:
  application:
    name: newsapp
  profiles:
    active: postgres

server:
  port: 8080

logging:
  level:
    org.springframework: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
      show-details: when_authorized