spring:
  application:
    name: newsapp
  profiles:
    active: postgres

  # THÊM CÀI ĐẶT DATABASE VÀO ĐÂY
  datasource:
    url: jdbc:postgresql://localhost:5432/newsapp
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update

server:
  port: 8080

logging:
  level:
    org.springframework: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
      show-details: when_authorized